.title {
    display: block;
    color: green;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;}
    
.address{
    color: blue;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;}
.abv{
    color: blue;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;}
.city{
    color:brown;
}
